<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/reset.css">
    <link rel="stylesheet" href="/stylesheets/stats.css">
    <script src="https://unpkg.com/phosphor-icons"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans&display=swap" rel="stylesheet">
    <title>Seurl | Estatísticas </title>
</head>
<body>
    <header>
        <nav class="menu">
            <h1>
                <img src="/images/logo-seurl.png" class="menu-logo" alt="logo do seurl">
            </h1>
            <button id="buttonMenu" class="button-icone">
                <i id="menu" class="ph-list icone-style"></i>
            </button>
            <ul id="nav" class="menu-nav">
                <li>
                    <a href="/" class="menu-button">
                        Encurtador
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Termos de serviços
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Contato
                    </a>
                </li>
                <li>
                    <a href="#" class="menu-button">
                        Suporte
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="stats">

            <div class="stats-header">
                <h2 class="header-text">Estatísticas do Link:</h2>
            </div>

            <ul class="stats-inf">

                <li class="inf-container">
                    <h3>Seu link:</h3>
                    <div>
                        <p><%= process.env.DOMAIN %><%= code %></p>
                    </div>
                </li>

                <li class="inf-container">
                    <h3>Link encurtado:</h3>
                    <div>
                        <p><%= url %></p>
                    </div>
                </li>

                <li class="inf-container">
                    <h3>Visitas</h3>
                    <div>
                        <p><%= hits %></p>
                    </div>
                </li>

                <li class="inf-container">
                    <ul>
                        <li>
                            <h3>Criado em:</h3>
                            <div>
                                <p><%= createdAt %></p>
                            </div>
                        </li>

                        <li>
                            <h3>Última visita:</h3>
                            <div>
                                <p><%= updatedAt %></p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>
    <script type="text/javascript" src="/javascripts/header.js"></script>
</body>
</html>